table{
    width: 800px;
    height: 600px;
    border: 2px solid black;
}
#title{
    border-bottom: 2px solid black;
    font-size: larger;
}
.body-color{
    background-color: lightcoral;
}
td{
    border: 1px solid black;
    text-align: center;
}